*{
    margin: 0;
    padding: 0;
}
body,
html{
    height: 100%;
    width: 100%;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.form-group {
    margin-bottom: 1rem;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.mx-1,
.ml-1{
    margin-left: 0.5rem;
}
.mx-1,
.mr-1{
    margin-right: 0.5rem;
}
.mx-auto,
.ml-auto{
    margin-left: auto;
}
.mx-auto,
.mr-auto{
    margin-right: auto;
}
@for $i from 0 through 5 {
    .mx-#{$i},
    .ml-#{$i}{
        margin-left: 0.5rem * $i;
    }
    .mx-#{$i},
    .mr-#{$i}{
        margin-right: 0.5rem * $i;
    }

    .my-#{$i},
    .mt-#{$i}{
        margin-top: 0.5rem * $i;
    }

    .my-#{$i},
    .mb-#{$i}{
        margin-bottom: 0.5rem * $i;
    }
    .m-#{$i}{
        margin: 0.5rem * $i;
    }

    .px-#{$i},
    .pl-#{$i}{
        padding-left: 0.5rem * $i;
    }
    .px-#{$i},
    .pr-#{$i}{
        padding-right: 0.5rem * $i;
    }

    .py-#{$i},
    .pt-#{$i}{
        padding-top: 0.5rem * $i;
    }

    .py-#{$i},
    .pb-#{$i}{
        padding-bottom: 0.5rem * $i;
    }
    .p-#{$i}{
        padding: 0.5rem * $i;
    }
}
/*小屏*/
@media (min-width: 576px) {
    .container{
        max-width: 540px;
    }
}
/*中屏*/

@media (min-width: 768px) {
    .container{
        max-width: 720px;
    }
}
/*大屏*/
@media (min-width: 992px) {
    .container{
        max-width: 960px;
    }
}
/*超大屏*/
@media (min-width: 1200px) {
    .container{
        max-width: 1170px;
    }
}